@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* This ensures the background is dark immediately, matching our Slate-950 theme */
body {
  background-color: #020617;
  color: #e2e8f0;
}